@model IEnumerable<TrashCollectorProject.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index of Customers Today</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

<div>
    @Html.ActionLink("Monday", "DaySelector", "Employees", new { day = "Monday" }, null)
    @Html.ActionLink("Tuesday", "DaySelector", "Employees", new { day = "Tuesday" }, null)
    @Html.ActionLink("Wednesday", "DaySelector", "Employees", new { day = "Wednesday" }, null)
    @Html.ActionLink("Thursday", "DaySelector", "Employees", new { day = "Thursday" }, null)
    @Html.ActionLink("Friday", "DaySelector", "Employees", new { day = "Friday" }, null)
    @Html.ActionLink("Saturday", "DaySelector", "Employees", new { day = "Saturday" }, null)
    @Html.ActionLink("Sunday", "DaySelector", "Employees", new { day = "Sunday" }, null)


</div>

</table>
